.header-wrapper {
    height: 64px;
    padding: 0 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.header__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "OpenSans", "Verdana", sans-serif;
    line-height: 1.16667em;
}

.header-button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}