.searcher-wrapper {
    align-self: center;
    width: 400px;
    overflow: hidden;
    background-color: #fff;
    padding: 10px 0;
}

.searcher-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 280px;
}

.searcher__select {
    width: 135px;
    height: 100%;
}

.searcher_option {
    width: 50px;
}