.searcher-wrapper{
    align-self: center;
    border: 1px solid violet;
    width: 400px;
    overflow: hidden;
}
.searcher-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.searcher__select {
    width: 250px;
    height: 100%;
}

.searcher_option{
    width: 50px;
    border: 1px solid red;
}