.card-container {
    margin-top: 10px;
    height: 120px;
    display: flex;
    padding: 10px;
    border: 1px solid black;
}

.card-first-line {
    height: 118px;
    width: 118px;
}

.card-second-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 20px 10px;
    width: 230px;
}

.card__lang-name {
    font-family: 'Verdana-Bold', "Arial", 'sans-serif';
    font-size: 15px;
}

.card__created, .card__number-of-projects, .card__link {
    font-family: 'Verdana', "Arial", 'sans-serif';
    font-size: 15px;
    word-wrap: break-word;
}