.credentials-form__col-container {
    display: flex;
    justify-content: space-between;
}

.credentials-form__row-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.credentials-form__item {
    margin: 12px;
}